* {
    padding: 0;
    margin: 0;
}
h1{
    color:aliceblue;
}
header{
    background-color:blueviolet;
    height:80px;
    width:100%;
}
header a{
    color:aliceblue;
}
header a:hover{
    text-decoration: underline;
}
header ul{
    position:absolute;
    right:5vw;
    top=0
    line-height:80px;
}